.main-footer {
    height: 70px;
    background-color: #202027;
    font-weight: bold;
  }
  
  .social-link img {
    width: 1em;
    margin-right: .25rem;
  }
  
  .main-footer .container {
    display: flex;
    justify-content: space-between;
  }